<!DOCTYPE html>
<html>
  <head>
    <title>SecondApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  
  <!-- Header -->
    <div id="header">
      <!-- Nav -->
        <nav id="nav">
          <ul>
            <li>
            <%= link_to 'index', root_path, class:"nav-link" %>
            </li>
            <li>
              <%= link_to 'dropdown', pages_test_path, class:"nav-link" %>

            </li>
            <li>
            
            <%= link_to 'Left Sidebar', pages_about_us_path, class:"nav-link" %>

            </li>
            <li><a href="#">Right Sidebar</a></li>
            <li><a href="#">No Sidebar</a></li>
          </ul>
        </nav>

    </div>
    <%= yield %>

    			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>
							</div>
						</div>
					</div>
				</div>

		</div>
    		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
  </body>
</html>
